# ✅ Next.js
NEXT_PUBLIC_API_URL=https://api.example.com
NEXT_PUBLIC_API_CONNECTOR_URL=https://connector.example.com
NEXT_PUBLIC_WEBSOCKET_URL=wss://ws.example.com

NEXT_PUBLIC_AWS_BUCKET=your-bucket-name
NEXT_PUBLIC_AWS_COGNITO_IDENTITY_POOL_ID=us-west-2:xxxxx-xxxxx-xxxxx-xxxxx
NEXT_PUBLIC_AWS_REGION=us-west-2
NEXT_PUBLIC_AWS_USER_POOLS_ID=us-west-2_XXXXX
NEXT_PUBLIC_AWS_USER_POOLS_WEB_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_AWS_COGNITO_API_URL=https://cognito-idp.us-west-2.amazonaws.com/

NEXT_PUBLIC_SITE_TITLE=Mi App
NEXT_PUBLIC_SITE_PRIVACY_NOTICE=https://ejemplo.com/aviso-de-privacidad

NEXT_PUBLIC_STAGE=production

NEXT_PUBLIC_USERS_MODE=OWNER
NEXT_PUBLIC_USERS_PERMISSIONS=front

NEXT_PUBLIC_DYNAMICORE_MORAL_CONTEXT=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx